/* CategoryList.css */

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10%;
}

.category-list {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.category-list h1 {
  color: #333;
}

.category-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 5%;
}

.category-box {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  cursor: pointer;
  flex: 0 0 calc(33.33% - 20px);
  margin-bottom: 20px;
  font-weight: bold;
}

.category-box img {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 15px;
}

.category-box p {
  font-size: 24px;
  color: #555;
}

@media (max-width: 768px) {
  .category-list h1 {
    font-size: 25px;
  }
}
