.desktop-menu {
  position: absolute;
  top: 25px;
  left: 0; /* Sol kenara yaslanması için */
  right: 0; /* Sağ kenara yaslanması için */
  display: flex;
  justify-content: center; /* Yatayda ortala */
  align-items: center; /* Dikeyde ortala */
  font-size: 16px;
  color: #000;
  z-index: 1;
}

.desktop-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  display: inline;
  margin-right: 20px;
}

.desktop-menu ul li:last-child {
  margin-right: 0;
}

.desktop-menu ul li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
}
