@media only screen and (max-width: 768px) {
  label .menu {
    position: absolute;
    z-index: 100;
    right: 10px;
    top: 18px;
    border-radius: 50% 50% 50% 50%;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
    cursor: pointer;
  }

  label input {
    display: none;
  }

  label input:checked + .menu {
    background: #fff;
    box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
    border-radius: 0;
  }

  label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
  }

  label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
  }

  label input:checked + .menu + ul {
    opacity: 1;
  }

  label ul {
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: 0.25s 0s ease-in-out;
    transition: 0.25s 0s ease-in-out;
    font-weight: bold;
  }

  label a {
    margin-bottom: 1em;
    display: block;
    color: #000;
    text-decoration: none;
  }

  .language-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 80px;
    margin-left: inherit;
  }

  .language-data li {
    margin: 0;
    padding: 0;
  }

  .language-data a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
  }
}
